@import "primevue/resources/themes/aura-light-green/theme.css";
@import "primevue/resources/primevue.min.css";
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        margin: 0px;
    }
    a{
        text-decoration: none;
    }
    .text-primary{
        color: var(--primary-color);
    }
    li{
        list-style: none;
    }
}

@layer utilities{
    .animation-delay-200 {
        animation-delay: 2s;
    }

    .animation-delay-400 {
        animation-delay: 4s;
    }
}
